<!-- <h1>{{ title }}</h1>
<h3>
  {{ unContact.name }}
  <small>
    {{ unContact.username }}
  </small>
</h3> -->

<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          {{ title }}
        </a>
      </div> <!-- /.navbar-header-->
    </nav> <!-- /.nav-->
  </header> <!-- /.header-->
  <div class="row">
    <!-- liste des contacts -->
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#"
           class="list-group-item list-group-item-action"
           *ngFor="let contact of mesContacts" (click)="displayProfile(contact)" [class.active]="contactActif === contact">
          <!--ngfor est une boucle qui se met directement dans l'HTML, dans la balise que je veux répéter-->
          {{ contact.name }}
        </a>
      </div> <!--list-group-->

      <app-new (newContactEvent)="addContact($event)"></app-new>

    </div> <!--col-sm-4-->

    <!-- Profil de mon utilisateur -->
    <div class="col-sm-8">
       <app-profil [contactProfil]="contactActif"></app-profil> <!--Il s'agit du sélecteur du fichier profil.component.ts (définie en haut du
                                  profil.component.ts, à 'selector'). En faisant une balise avec le sélecteur, je dis à
                                  mon HTML de 'coller' ici tout ce qu'il y a dans mon fichier profil.component.ts-->
      </div>

    </div>



</div> <!-- /.container-->

